@media (min-width: 1025px) {
    .banner {
        padding: 0 12px;

    .swiper-slide {
        padding: 0 132px;
        border-radius: 20px;
        }
    }
.template-title {
    &.case-2 {
        text-align: left; 

        &:before {
         left: 0;
         transform: none;
        }
     }
     &.case-3 {
        max-width: 626px;
        text-align: left;
        &:before {
            display: none;
        }
        h2 {
            &:after {
            content: "";
            display: inline-block;
            height: 2px;
            width: 85px;
            background: $secondary-color;
            margin: 0 20px 10px;
            }
           }
       }
}
}
