@media screen and (max-width: 991.9px) {
    .container {
        padding: 0 12px;
    }
    .navbar-brand {
        img {
            max-width: 126px;
        }
    }
    .custom-navbar {
        padding: 13px 0 13px;

        .navbar-collapse {
            text-align: center;
            background-color: $bg-section;
            margin: 0 -20px;
            transform: translate(0, 20px);
            box-shadow: 14px 22px 40px #1e234266;

           .btn {
            margin-bottom: 60px;
            font-size: 16px;
            padding: 21px 40px;
            width: 100%;
            max-width: 295px;

            }
         }
       
        .navbar-brand{
            img {
             max-width: 126px;
            } 
         }
         .navbar-nav {
            padding:33px 0 25px ; 
        }
        .nav-item {
             .nav-link {
            padding: 0;
            font-size: 24px;
            line-height: 223%;
            margin: 0 0 10px 0;
        }
      } 
    } 
    .banner {
      padding-bottom: 0;
       .swiper-slide {
        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background:#04051199;
            z-index: -1;
        }
       } 
         .container {
           align-items: center;
           text-align: center;
           min-height: 649px;
           padding: 0 12px 46px;
      }
      &-title {
        font-size: 32px;
        margin-bottom: 10px;
        max-width: 295px;
      }
      &-description {
        font-size: 16px;
        margin-bottom: 18px;
        max-width: 260px;
      }
   }

   section {
    padding: 0 0 100px;
    &.bg-section {
      padding-left: 0;
      padding-right: 0;
  
       &:before { 
       width: 100%;  
       border-radius: 0; 
      }
    }
   }

   .calculation-form {
    margin: 0 auto;
    }
   .calculation-row {
    display: flex;
    align-items: flex-start;
    padding: 21px;
   }
   .calculation-img {
    display: none;
   }
   .template-title {
    h2 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    &:before{
      bottom: 28px;
    }
    
   }
   .calculation {
    padding: 55px 0 60px;
   }
   .advantages {
    padding-bottom: 67px;
    .swiper {
        padding-top: 16px;
        overflow: visible;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
      bottom: -8px;  
}
}
}
