


footer {
    height: 234px;
    margin-top: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-body;
    font-family: $font-primary;
    font-size: $fs;
    color: $color;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    &::marker {
        color: $primary-color;
    } 

}
ul {
    li {
        position: relative;
        &:note([class]) {
            &:before {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-color: $primary-color;
                border-radius: 50%;
                left: -19px;
                top: 6px;
               }
        }
    }
}
.container {
    max-width: 1164px;
}

.btn {
    font-size: 15px;
    border-radius: 90px;
    font-weight: 600;
    padding: 12px 26px;
    line-height: 146%;
    border: 1px solid $primary-color;
    &:hover {
        text-decoration: none;
        border: 1px solid $primary-color;
    }

&.btn-primary {
    background-color: $primary-color;

    &:hover {
        background-color: transparent;
       
    }   
}
&.btn-secondary {
    background-color: transparent;
  
    &:hover {
        background-color: $primary-color;
        
    }
}
&.btn-primary,
&.btn-secondary{
    &:active{
    background-color: $secondary-color;
    border-color: $secondary-color;
}
}
&.btn-lg {
    padding: 19px 24px;
    font-size: 16px;
}

img {
    margin-left: 46px;
}
}

.container-xxl {
    max-width: 1820px;
    width: 100%;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    opacity: 1;
    background: transparent;
    &.swiper-pagination-bullet-active {
        background-color: #fff;
      }
  }
  


  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 13px;
  }

 .swiper-horizontal>.swiper-pagination-bullets,
 .swiper-pagination-bullets.swiper-pagination-horizontal {
    line-height: 0;
}


.template-title {
    text-align: center;
    position: relative;
    padding-bottom: 48px;

    h2 {
     font-size: 36px;
     text-transform: uppercase; 
     font-weight: 700;
     line-height: 125%;
     margin-bottom: 6px;  
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 33px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        width: 85px;
        background: $secondary-color;
    }
 
       
   
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=checkbox],
input[type=file]  {
    display: none;
}

input {
    &[type=checkbox] {
        + label {
            padding-left: 33px;
            line-height: 126%;
            cursor: pointer;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0px;
                width: 24px;
                height: 24px;
                border-radius: 4px;
                border: 1px solid $bg-body;
                background-color: #fff; 
            }
            &:hover {
                &:before{
                    border-color: $secondary-color;   
                }
            }
            &:focus,
            &:active {
                &:before {
                   border-color: $primary-color; 
                }
            }
        }
        &:checked{
            + label {
            &:before {
                background: url('assets/img/icon-checked.svg') center no-repeat #fff;
            }
            }
        }
    }
}

input[type=file] + label {
    cursor: pointer;
    text-align: center;
    padding: 12px;
    margin-top: 46px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23ffffff42' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    background-position: center;
    cursor: pointer;
   &:hover {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2389C249' stroke-width='1' stroke-dasharray='3%2c 3' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
   }
   &:active {
    color: $secondary-color;
   }
}


section {
    padding: 100px 0 100px;
  }  
  .bg-section {
    position: relative;
    padding-left: 88px;
    padding-right: 88px;

     &:before {
     content: "";
     position: absolute;
     display: flex;
     height: 100%;
     max-width: 1820px; 
     width:calc(100% - 100px);  
     background-color: $bg-section;
     left: 50%;
     transform: translate(-50%, 0);
     top: 0;
     border-radius: 20px;
     z-index: -1;
    }
  }