<section class="advantages bg-section">
  <div class="container">
    <div class="template-title">
        <h2>Почему стоит выбрать именно нас?</h2>
         </div>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit </p>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit </p>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit </p>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit </p>
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit </p>
  </div>
</section>